services:
  notes:
    build: .
    container_name: notes
    ports:
      - $PORT:$PORT
    environment:
      - PORT
      - STATE_DIR=/var/lib/notes
    image: lucas42/lucos_notes
    volumes:
      - stateFile:/var/lib/notes
    restart: always

volumes:
  stateFile: