<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="apple-touch-icon" href="/icon.png" />
		<title>Todo List</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	</head>
	<body data-type="listoflists">
		<lucos-navbar font="'Reenie Beanie', Textile, cursive">Todo List</lucos-navbar>
		<ul id="todo" class="lists">
			{{#lists}}
				<li class="list{{#deleted}} deleted{{/deleted}}">
					<span class="icon">{{icon}}</span>
					<edit-list-button slug="{{slug}}" name="{{name}}" icon="{{icon}}"></edit-list-button>
					<a href="/todo/{{slug}}">{{name}}</a>
					{{#unsynced}}<span class="pending" title="Sync pending">⌁</span>{{/unsynced}}
				</li>
			{{/lists}}
		</ul>
		<div id="controls">
			<new-list-button></new-list-button>
			<sync-button></sync-button>
		</div>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>