		<ul id="todo" class="lists">
			{{#lists}}
				<li class="list{{#deleted}} deleted{{/deleted}}">
					<span class="icon">{{icon}}</span>
					<edit-list-button slug="{{slug}}" name="{{name}}" icon="{{icon}}"></edit-list-button>
					<a href="/todo/{{slug}}">{{name}}</a>
					{{#unsynced}}<span class="pending" title="Sync pending">⌁</span>{{/unsynced}}
				</li>
			{{/lists}}
		</ul>
		<div id="controls">
			<new-list-button></new-list-button>
			<sync-button></sync-button>
		</div>