<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="apple-touch-icon" href="/icon.png" />
		<title>Todo List - {{name}}</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/style.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	</head>
	<body data-type="list">
		<lucos-navbar font="'Reenie Beanie', Textile, cursive">{{name}}</lucos-navbar>
		<nav>
			<a href="/todo/">&lt;- View all Todo Lists</a>
		</nav>
		<ul id="todo">
			{{#items}}
			<li class="item{{#deleted}} deleted{{/deleted}}">
				<edit-item uuid="{{uuid}}" name="{{name}}" url="{{url}}" list="{{slug}}"></edit-item>
				<delete-item uuid="{{uuid}}"></delete-item>
				{{#url}}<a href="{{url}}" target="__blank">{{name}}</a>{{/url}}
				{{^url}}<span>{{name}}</span>{{/url}}
				{{#unsynced}}<span class="pending" title="Sync pending">⌁</span>{{/unsynced}}
			</li>
			{{/items}}
		</ul>
		<div id="controls">
			<new-item-button list="{{slug}}"></new-item-button>
			<delete-list-button slug="{{slug}}" empty="{{^items}}true{{/items}}"></delete-list-button>
			<sync-button></sync-button>
		</div>
		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>