		<nav>
			<a href="/todo/">&lt;- View all Todo Lists</a>
		</nav>
		<main>
			<ul>
				{{#items}}
				<li class="item{{#deleted}} deleted{{/deleted}}">
					<span class="icon">{{icon}}</span>
					<edit-item-button uuid="{{uuid}}" name="{{name}}" url="{{url}}" list="{{slug}}"></edit-item-button>
					<delete-item-button uuid="{{uuid}}"></delete-item-button>
					{{#url}}<a href="{{url}}" target="__blank">{{name}}</a>{{/url}}
					{{^url}}<span>{{name}}</span>{{/url}}
					{{#unsynced}}<span class="pending" title="Sync pending">⌁</span>{{/unsynced}}
				</li>
				{{/items}}
			</ul>
		</main>
		<div id="controls">
			<new-item-button list="{{slug}}"></new-item-button>
			<delete-list-button slug="{{slug}}" empty="{{^items}}true{{/items}}"></delete-list-button>
			<sync-button></sync-button>
		</div>